<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <div id="not-authorized">
                <h1>Operação Não Autorizada!</h1>
            </div>

            <%- include('includes/end.ejs') %>