footer, .container-with-margins {
    background: linear-gradient(135deg, lightgray, whitesmoke);
    display: flex;
    justify-content: space-around; /* Alterado para space-between */
    border: 1px solid darkgreen;
    border-radius: 10px;
    padding: 0 1rem;
    margin: 0 1rem 1rem 1rem;
    align-items: center;
    font-size: 1rem;
}


@media (max-width: 688px) {
    footer {
        flex-direction: column;
    }
}

footer > a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.heart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer h6 {
    margin: 0;
}