.noticia-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.noticia-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.noticia__title {
    font-size: 1.2rem;
    text-align: center;
}



.noticia__description {
    text-align: center;
}